<script>
    function spawn_alert(message, success) {
        var success_class = "alert-danger";
        if (success) {
            success_class = "alert-success"
        }
        var alert = $('<div class="alert ' + success_class + '" role="alert">' + message + '</div>');
        $('#alert').prepend(alert);
        setTimeout(function () {
            alert.fadeOut(666);
        }, 2000);
    }


    $("#category_form").on("submit", function (l) {
        l.preventDefault();


        let csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
        let category_name = $('#id_category_name').val();
        let color = $('#id_color').val();

        $.ajax({
            url: "{% url 'todo:addCategory' %}",
            method: "POST",
            dataType: "json",
            data: {
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                category_name: category_name,
                color: color,
            },
            success: function (data) {
                spawn_alert(data['message'], data['success']);
                if (data['success']) {
                    $("#category_form")[0].reset();

                    $('#id_category').append(
                        $('<option>', {
                            value: data['id'],
                            text: category_name
                        })
                    );
                }
            }
        })

    });

    $("#checklist_form").on("submit", function (l) {
        l.preventDefault();

        let csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
        let checklist_name = $('#id_checklist_name').val();
        let category = $('#id_category').val();
        let start_date = $('#id_start_date').val();
        let end_date = $('#id_end_date').val();

        $.ajax({
            url: "{% url 'todo:addChecklist' %}",
            method: "POST",
            dataType: "json",
            data: {
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                checklist_name: checklist_name,
                category: category,
                start_date: start_date,
                end_date: end_date
            },
            success: function (data) {
                spawn_alert(data['message'], data['success']);
                if (data['success']) {
                    $("#checklist_form")[0].reset();
                }
            }
        })

    });
</script>