<script>
    var doughnut_config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{ category_sizes }},
                backgroundColor: [
                    {% for category in categories %}
                        '{{ category.color }}',
                    {% endfor %}
                ],
                borderWidth: 0,
            }],
            labels: [
                {% for category in categories %}
                    '{{ category.category_name }}',
                {% endfor %}
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            aspectRatio: 2,
            cutoutPercentage: 60,
            title: {
                display: true,
                text: 'Checklist per category',
                fontFamily: 'Nirmala UI',
                fontColor: '#001A60',
                fontSize: 15,
            },
            legend: {
                position: 'right'
            },
        }
    };

    var bar_config = {
        type: 'bar',
        data: {
            datasets: [{
                data: {{ bar_data }},
                backgroundColor: [
                    {% for category in categories %}
                        '{{ category.color }}',
                    {% endfor %}
                ],
            }],
            labels: [
                {% for category in categories %}
                    '{{ category.category_name }}',
                {% endfor %}
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            aspectRatio: 2,
            title: {
                display: true,
                text: 'Completion rate',
                fontFamily: 'Nirmala UI',
                fontColor: '#001A60',
                fontSize: 15,
            },
            legend: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 100,
                        stepSize: 25,
                        callback: function (value, index, values) {
                            return value + '%';
                        }
                    }
                }]
            }
        }
    };


    window.onload = function () {
        var doughnut_ctx = document.getElementById('chart-doughnut').getContext('2d');
        window.myDoughnut = new Chart(doughnut_ctx, doughnut_config);

        var bar_ctx = document.getElementById('chart-bar').getContext('2d');
        window.myDoughnut = new Chart(bar_ctx, bar_config);
    };
</script>