.checklist {
    border-radius: 0 0 10px 10px;
    background-color: white;
    overflow: auto;
    margin: 12px auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
}

.maxwidth0 {
    max-width: 100% !important;
}

form div {
    margin: 5px 0;
    align-items: center;
}

.align-center {
    align-items: center;
}

.checklistheaderbutton {
    visibility: hidden;
}

.checklistcategorytext {
    padding-left: 15px;
    margin: 0;
    display: inline;
    font-weight: bold;
    font-size: 16px;
    color: #FFFF58;
}

.overflowscroll {
    overflow: scroll;
}

.checklistheader:hover {
    background-color: white;
}

.datetext {
    font-size: 10px !important;
    color: #001A60;
}

.checklistheader:hover .checklistheaderbutton {
    visibility: visible;
}

.checklistheader {
    min-height: 46px;
    overflow: auto;
    width: 100%;
    padding: 10px 12px;
}

.checklist h1 {
    display: inline;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

.checklistbody {
    display: block;
    padding: 2px 15px;
}

.checklist ul li {
    padding-left: 25px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

.checklist ul {
    margin-bottom: 0; !important;
}

@media (max-width: 768px) {
    .checklist {
        width: 90fr;
    }

    .createwidths {
        width: 100%;
    !important;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .checklist {
        width: 60fr;
    }

    .createwidths {
        min-width: 240px;
        width: 100%;
    !important;
    }

}

@media (min-width: 1280px) {
    .checklist {
        width: 45fr;
    }

    .createwidths {
        min-width: 240px;
        width: 100%;
    !important;
    }

}