body {
    font-family: "Nirmala UI", 'helvetica'; !important;
}

.textalignauto {
	text-align: left;
}

.padlr {
	padding: 4px 2px; !important;
}

.no-border{
    border: none;
}

.pad-1 {
    margin: 0 30px;
!important;
}

.nomargin {
    margin: 0; !important;
}

.transpearant {
    background-color: transparent;
}

.button-size {
    width: 30px;
}

.nopad {
    padding: 0;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.plus-button--small {
	font-size: 12px;
}

.plus-button--large {
	font-size: 22px;
}

.home {
    width: 100%;
    margin-top: -10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.upperdiv{
    padding: 10px;
    text-align: center;
    color: #001A60;
}

.upperdiv h2, p {
    padding-top: 13px;
}

.upperdiv p:last-child {
    padding-bottom: 7px;
}

.lowerdiv{
    padding: 40px;
    align-items: center;
    text-align: center;
}
.color1{
    background-color: #001A60;
    color: white;
}
.color2{
    background-color: #495F9D;
    color: white;
}
.color3{
    color: black;
}
.color4 {
    color: #001A60;
}
.image{
    height: 150px;
    width: 150px;
}
.image1{
    height: 97px;
    width: 175px;
}
.divcontent {
    margin: auto 0;
}