body {
    font-family: "Nirmala UI", 'helvetica';
!important;
}

canvas {
    padding: 1em;
    flex: none;
!important;
}

.textalignauto {
    text-align: left;
}

.padlr {
    padding: 4px 2px;
!important;
}

.no-border {
    border: none;
}

.tablespacing {
    display: flex;
!important;
    align-items: center;
!important;
}

.pad-1 {
    margin: 0 30px;
!important;
}

.nomargin {
    margin: 0;
!important;
}

.transpearant {
    background-color: transparent;
}

.button-size {
    width: 30px;
}

.nopad {
    padding: 0;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

.plus-button--small {
    font-size: 12px;
}

.plus-button--large {
    font-size: 22px;
}

.home {
    width: 100%;
    margin-top: -10px;
    display: grid;
    grid-template-rows: 25% repeat(3, 1fr);
}

.statistics {
    margin-top: -10px;
    display: grid;
    grid-auto-rows: 1fr;
}

.statistics-item {
    border: 10px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0em;
}

@media (max-width: 1280px) {

    .statistics-item {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    canvas {
        max-height: 300px;
    !important;
    }

    .statistics-item {
        margin-top: -50px;
    }
}

canvas {
    height: 100%;
}

#chart-doughnut {
    height: 100px;
!important;
}

#chart-bar {
    height: 100%;
}

input, select {
    border: solid 1px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.upperdiv {
    padding: 10px;
    text-align: center;
    color: #001A60;
}

.upperdiv h2, p {
    padding-top: 13px;
}

.upperdiv p:last-child {
    padding-bottom: 7px;
}

.lowerdiv {
    display: flex;
    flex-wrap: wrap;
    height: 440px;
    padding: 40px;
    align-items: center;
    text-align: center;
}

.color1 {
    background-color: #001A60;
    color: white;
}

.color2 {
    background-color: #495F9D;
    color: white;
}

.color3 {
    color: black;
}

.color4 {
    color: #001A60;
}

.image {
    height: 150px;
    width: 150px;
}

.image1 {
    height: 97px;
    width: 175px;
}

.divcontent {
    margin: auto 0;
}

.checkcontainer {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}

.padding-5 {
    padding: 4px;
}

.checkboxFive {
    width: 100%;
    position: relative;
    cursor: pointer;
}

/** checkboxFive is a visual 'hack' so to say on the checkbox. It still exists, but behind our checkboxFive object. */
.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 3px;
}

.checkboxFive label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 20px;
    height: 11px;
    background: transparent;
    top: 3px;
    left: 2px;
    border: 3px solid #001A60;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.checkboxFive label:hover::after {
    opacity: 0.25;
}

.checkboxFive input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/*Overwriting the Bootstrap alert visuals here*/
.alert-danger {
    background-color: transparent;
!important;
    border-radius: 10px 2px 10px 10px;
!important;
    border: solid 2px rgba(255, 0, 0, 0.43);
!important;
}

.alert-success {
    background-color: transparent;
!important;
    border-radius: 10px 2px 10px 10px;
!important;
    border: solid 2px rgba(0, 255, 0, 0.43);
!important;
}