{% extends 'todo/template.html' %}
{% load custon_tags %}
{% load static %}

{% block title %}
    category - {{ category }}
{% endblock %}
{% block content %}
    {% if checklists|length > 0 %}
        <div class="row d-flex flex-row justify-content-center nomargin" style="overflow: visible;">
        <div class="col-lg-7 col-md-8 col-xs-12 col-sm-12 maxwidth0">
            <div class="createwidths">
                <h1 align="center" style="padding: 8px">{{ category.title }}</h1>
            </div>
        </div>
        {% for checklist in checklists %}
            <div class="col-lg-7 col-md-8 col-xs-12 col-sm-12 maxwidth0">
                <div class="checklist createwidths">
                    <div class="checklistheader">
                        <h1>{{ checklist.title }}</h1>
                        {#                         Progress ring is a bit buggy plus we need to see how to tackle showing % completed  (e.g (80% completed))     #}
                        {#                        <progress-ring stroke="5" radius="15"#}
                        {#                                       progress="{{ items|get_progress:checklist }}" ></progress-ring>#}
                        <p class="checklistcategorytext"
                           style="color: {{ checklist.category.color }};">{{ checklist.checklist_name }}</p>
                        <ul class="list-unstyled">
                            {% for item in items|is_checklist:checklist %}
                                <li class="list-items">
                                    {% if item.completed %}
                                        <input type="checkbox" onchange="window.location.href = '{% url 'todo:checkGoals' item.id %}'" name="{{ item.title }}"
                                               id="{{ item.title }}"
                                               checked>
                                    {% else %}
                                        <input type="checkbox" onchange="window.location.href = '{% url 'todo:checkGoals' item.id %}'" name="{{ item.title }}"
                                               id="{{ item.title }}">
                                    {% endif %}

                                    <label for="{{ item.title }}">{{ item.title }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 align="center">Category doesn't exist or there are no checklists</h2>
        <p align="center">add a checklist <a style="text-decoration: underline; color: -webkit-link"
                                             href="{% url 'todo:create' %}">here</a></p>
    {% endif %}
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/progress-bar.js' %}"></script>
{% endblock %}