{% extends 'todo/template.html' %}
{% load custon_tags %}
{% load static %}

{% block title %}
    category - {{ category }}
{% endblock %}

{% block content %}
    {% if checklists|length > 0 %}
        <h1 align="center">{{ category.title }}</h1>
        {% for checklist in checklists %}
            <div class="checklist">
                <div class="checklistheader">
                    <h1>{{ checklist.title }}</h1>

                    <p class="checklistcategorytext"
                       style="color: {{ checklist.category.color }};">{{ checklist.category.category_name }}</p>
                    <progress-ring stroke="6" radius="18" progress="{{ items|get_progress:checklist }}"></progress-ring>
                    <ul class="list-unstyled">
                        {% for item in items|is_checklist:checklist %}
                            <li>{{ item.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 align="center">Category doesn't exist</h1>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/progress-bar.js' %}"></script>
{% endblock %}