{% extends 'todo/template.html' %}

{% block content %}
    {% if checklists|length > 0 %}
        {% for checklist in checklists %}
            <div class="checklist">
            <div class="checklistheader">
                <h1>{{ checklist.title }}</h1>

                <p class="checklistcategorytext" style="color: {{ checklist.category.color }};">{{ checklist.category.category_name }}</p>
                <ul class="list-unstyled">
                </ul>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h1 align="center">Category doesn't exist</h1>
    {% endif %}

{#    <div class="checklist">#}
{#        <div class="checklistheader">#}
{#            <h1>Checklist 2</h1>#}
{#            <p class="checklistcategorytext">Friends</p>#}
{#    <div class="checklistbody">#}
{#            <ul class="list-unstyled">#}
{#                <li>#}
{#                    Goal #1#}
{#                </li>#}
{#                <li>#}
{#                    Goal #2#}
{#                </li>#}
{#                <li>#}
{#                    Goal #3#}
{#                </li>#}
{#                <li>#}
{#                    Goal #4#}
{#                </li>#}
{#                <li>#}
{#                    Goal #5#}
{#                </li>#}
{#                <li>#}
{#                    Goal #6#}
{#                </li>#}
{#            </ul>#}
{#    </div></div></div>#}
{% endblock %}