{% extends 'todo/template.html' %}
{% load static %}
{% block title %}
    home
{% endblock %}
{% block content %}
    <div class="home text-align-center">
        <div class="upperdiv">
            <h2>Welcome to Listed!</h2>
            <p class="color4">Listed helps you keep track fo your goals in a simple way!</p>
            <p class="color4">"No matter how many goals you have achieved,<br>you must set your sights on a higher
                one."</p>
        </div>
        <div class="row nopad nomargin justify-content-center lowerdiv color1">
            <div class="col-lg-3 col"><h1 style="padding: 0 25px">Create</h1>
                <p class="color1">Your checklist</p>
            </div>
            <div class="col col-lg-3"><img src="{% static 'images/Checklist.png' %}" class="image1"></img>
            </div>
        </div>
        <div class="row nopad nomargin justify-content-center lowerdiv ">
            <div class="col col-lg-3"><img src="{% static 'images/Goals.png' %}" class="image"></img>
            </div>
            <div class="col-lg-3 col color4"><h1 style="padding: 0 9px">Complete</h1>
                <p class="color4">Your goals</p>
            </div>
        </div>
        <div class="row nopad nomargin justify-content-center lowerdiv color2">
            <div class="col col-lg-3">
                <h1 style="padding: 0 40px">Watch</h1>
                <p class="color2">Your progress</p>
            </div>
            <div class="col col-lg-3"><img src="{% static 'images/Pie.png' %}" class="image">
            </div>
        </div>
    </div>

{% endblock %}
