{% extends 'todo/template.html' %}

{% block content %}
    <div class="checklist">
        <div class="checklistheader">
            <h1>Checklist 1</h1>
            <p class="checklistcategorytext">Work</p>
        </div>
    </div>

    <div class="checklist">
        <div class="checklistheader">
            <h1>Checklist 2</h1>
            <p class="checklistcategorytext">Friends</p>
    <div class="checklistbody">
            <ul class="list-unstyled">
                <li>
                    Goal #1
                </li>
                <li>
                    Goal #2
                </li>
                <li>
                    Goal #3
                </li>
                <li>
                    Goal #4
                </li>
                <li>
                    Goal #5
                </li>
                <li>
                    Goal #6
                </li>
            </ul>
        </div>
{% endblock %}