{% extends 'todo/template.html' %}

{% block content %}

    <div class="row d-flex justify-content-center">
        <div class="pages">
            <div class="canvas">
                <canvas id="chart-doughnut"></canvas>
            </div>
            <br>
            <div style="text-align: center"> {# CENTER #}
                <p>This is a summary of the amount<br>
                    of checklists you have set per category.</p>
                <p>It's great to set goals, but do you<br>
                    achieve them as well?</p>
            </div>
            <div class="canvas">
                <canvas id="chart-bar"></canvas>
            </div>
            <br>
            <div style="text-align: center">
                <p>This is a summary of your completion rate.<br>
                    A higher percentage means you are doing<br>
                    better to keep your goals!</p>
                <p>You are doing well!<br>
                    Try working a little more on your Education.. </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        var doughnut_config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: {{ category_sizes }},
                    backgroundColor: [
                        {% for category in categories %}
                            '{{ category.color }}',
                        {% endfor %}
                    ],
                    borderWidth: [
                        {% for category in categories %}
                            0,
                        {% endfor %}
                    ],
                }],
                labels: [
                    {% for category in categories %}
                        '{{ category.category_name }}',
                    {% endfor %}
                ]
            },
            options: {
                cutoutPercentage: 60,
                title: {
                    display: true,
                    text: 'Checklist per category',
                    fontFamily: 'Nirmala UI',
                    fontColor: '#001A60',
                },
                legend: {
                    position: 'right'
                },
            }
        };

        var bar_config = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ bar_data }},
                    backgroundColor: [
                        {% for category in categories %}
                            '{{ category.color }}',
                        {% endfor %}
                    ],
                }],
                labels: [
                    {% for category in categories %}
                        '{{ category.category_name }}',
                    {% endfor %}
                ]
            },
            options: {
                aspectRatio: 1,
                title: {
                    display: true,
                    text: 'Completion rate',
                    fontFamily: 'Nirmala UI',
                    fontColor: '#001A60',
                },
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            stepSize: 10,
                            callback: function (value, index, values) {
                                return value + '%';
                            }
                        }
                    }]
                }
            }
        };


        window.onload = function () {
            var doughnut_ctx = document.getElementById('chart-doughnut').getContext('2d');
            window.myDoughnut = new Chart(doughnut_ctx, doughnut_config);

            var bar_ctx = document.getElementById('chart-bar').getContext('2d');
            window.myDoughnut = new Chart(bar_ctx, bar_config);
        };
    </script>
{% endblock %}