/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 999
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-default {
    background-color: transparent;
    color: #001A60;
    border: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #001A60;
    color: white;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    position: fixed;
    top: 66px;
    left: 0;
    height: 100vh;
    z-index: 1;
    background: #001A60;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: calc(-70vw);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #001A60;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #001A60;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #001A60;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding-top: 78px;
    min-height: 100vh;
    transition: all 0.3s;
}

.logo {
    width: 68px;
    margin: -100px;
    position: relative;
    top: 12px;
    margin-right: 2em;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: calc(-80vw);
        width: 80vw;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #sidebarCollapse span {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1400px) {
    #sidebar {
        width: 25vw;
        margin-left: calc(-25vw);
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100vw - 25vw);
        margin-left: calc(25vw);
    }

    #sidebarCollapse span {
        display: none;
    }
}

@media (min-width: 1400px) {
    #sidebar {
        width: 12vw;
        margin-left: calc(-12vw);
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100vw - 12vw);
        margin-left: calc(12vw);
    }

    #sidebarCollapse span {
        display: none;
    }
}