body {
    font-family: "Nirmala UI", 'helvetica';
}

.nopad {
    padding: 0; !important;
}

.nomarg {
    margin: 0; !important;
}

.upperdiv{
    height: 250px;
    width: 100%;
    text-align: center;
    color: #001A60;
}
.lowerdiv{
    height: 200px;
    align-items: center;
    text-align: center;
    width: 100%;
}
.color1{
    background-color: #001A60;
    color: white;
}
.color2{
    background-color: #495F9D;
    color: white;
}
.color3{
    color: black;
}
.color4 {
    color: #001A60;
}
.image{
    height: 150px;
    width: 150px;
}
.image1{
    height: 97px;
    width: 175px;
}
.divcontent {
    margin: auto 0;
}